/* admin dashboard tabs */

  .qs-dark-mode-logo {
    width: 100px;
    height: 70px;
  }
  
  .qs-dark-mode-logo img {
    max-width: 100% !important;
    height: 85px;
    margin-top: -7px;
  }
  .qs-dark-mode-adpage-tabs ul li {
    display: inline-block;
  }
  .qs-dark-mode-admin-dashboard-container {
    margin: 5px 16px;
  }
  .qs-dark-mode-nav-wrapper {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 350px;
  }
  
  .qs-dark-mode-nav-wrapper ul li.ui-tabs-active a {
    background: #3467ff;
    color: #ffffff;
  }
  .qs-dark-mode-nav-wrapper ul li.ui-tabs-active a h3 {
    color: #ffffff;
  }
  .qs-dark-mode-nav-wrapper ul li.ui-tabs-active a span {
    
    color: #fff;
  }

  .qs-dark-mode-nav-wrapper ul {
    display: flex;
    flex: 1;
    border-radius: 10px;
    flex-direction: column;
  }
  
  .qs-dark-mode-nav-wrapper ul li > a {
    background: #F6F8FF;
    color: #3467ff;
    line-height: 40px;
    text-decoration: none;
    text-align: left;
    display: block;
    border-radius: 10px;
    position: relative;
    margin: 0 5px;
    padding: 20px 10px 10px 70px;
    box-shadow: 0 10px 30px 0 #0000000d;
  }
  


  .qs-dark-mode-nav-wrapper ul li a h3 {
    font-size: 18px;
    display: block;
    color: #2E3A59;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0 -10px;
    letter-spacing: 0;
    line-height: 1em;
}
  .qs-dark-mode-nav-wrapper ul .qs-dark-mode-pro-licesne a h3 {
    margin: 0;
    padding: 20px 0;
  }
  .qs-dark-mode-nav-wrapper ul li a span {
    background: transparent;
    color: #2E3A59;
    line-height: 20px;
    padding: 0px;
    white-space: nowrap;
    line-height: 1;
    font-size: 14px;
    display: inline-block;
    margin-top: 0px;
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .qs-dark-mode-nav-wrapper ul li a .icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    height: 32px;
    width: 32px;
    line-height: 40px;
    border-radius: 4px;
    background: #EBF0FF;
    text-align: center;

  }

  .qs-dark-mode-nav-wrapper ul li.ui-tabs-active a .icon {
    background: #fff;
  }
  .qs-dark-mode-nav-wrapper ul li {
    flex: 1;
    margin: 0 10px 15px;
  }
  .qs-dark-mode-go-pro-btn a {
    background: #3366FF;
    color: #ffffff;
    line-height: 67px;
    text-decoration: none;
    text-align: left;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin: 0 5px;
    padding: 0px 65px;
  }
  .qs-dark-mode-go-pro-btn a i {
    font-size: 60px;
    position: absolute;
    left: 27px;
    transform: rotate(45deg);
    top: 0px;
    opacity: 0.1;
  }
  .qs-dark-mode-go-pro-btn a h3 {
    font-size: 18px;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
  }
  .wp-person a:focus .gravatar,
  a:focus,
  a:focus .media-icon img {
    box-shadow: none;
    outline: 0;
  }
  
  .qs-dark-mode-adpage-tab-content {
    background: #F6F8FF;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
    flex-basis: 100%;
  }
  
  .qs-dark-mode-adpage-tab-content.active {
    display:block;
  }
  
  .qs-dark-mode-dashboard {
  }
  
  .qs-dark-mode-components-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  .qs-dark-mode-dashboard-topbar .qs-dark-mode-title .title,
  .qs-dark-mode-components-topbar .qs-dark-mode-title .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3467ff;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
  }
  
  .qs-dark-mode-dashboard-topbar .qs-dark-mode-title .title .icon,
  .qs-dark-mode-components-topbar .qs-dark-mode-title .title .icon {
    height: 45px;
    width: 45px;
    background: #EBF0FF;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    margin-right: 15px;
  }
  .qs-dark-mode-components-topbar .qs-dark-mode-savechanges .button {
    background: #3467ff;
    line-height: 45px;
    padding: 1px 30px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border: 0;
    height: auto;
  }
  .qs-dark-mode-components-topbar .qs-dark-mode-savechanges .button i {
    padding-right: 26px;
  }
  
  .qs-dark-mode-common .quomodo_sm_switch {
    box-shadow: 4px 4px 8px rgba(46, 58, 89, 0.02);
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px;
    margin-top: 20px;
    position: relative;
    z-index: 9;
    border: 1px solid #00000029;
  }


  
/* Rectangle 33 */



  
  .quomodo_sm_switch .qs-dark-mode-data-tooltip {
    position: absolute;
    left: 50%;
    bottom: 108%;
    transform: translateX(-50%);
    z-index: 2;
    background: #3467ff;
    color: #ffffff;
    line-height: 20px;
    border-radius: 5px;
    padding: 4px 10px;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.5s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    display: none;
  }
  .quomodo_sm_switch:hover .qs-dark-mode-data-tooltip {
    opacity: 1;
    visibility: visible;
  }
  
  .quomodo_sm_switch .qs-dark-mode-data-tooltip::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #3467ff;
  }
  
  .qs-dark-mode-common .quomodo_sm_switch strong {
    font-weight: 400;
    color: #2E3A59;
    font-size: 20px;
    font-weight: 500;
    min-width: 160px;
    max-width: 160px;
    
  }
  /* Enable Fronted Dark Mode */



  .qs-dark-mode-data {
    margin-top: 30px;
  }
  .qs-dark-mode-data strong {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
    display: inline-block;
  }
  .qs-dark-mode-data input[type="text"] {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .qs-dark-mode-data.typhography{
    border: 1px solid #e1e1e1;
    padding: 30px;
    background: #f6f6f6;
    border-radius: 7px;
  }
  
  .qs-dark-mode-custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .qs-dark-mode-custom-select select {
    display: none;
  }
  .qs-dark-mode-custom-select.er-template-select select {
    display: block;
  }
  
  .qs-dark-mode-custom-select .select-selected {
    background-color: #3467ff;
  }
  
  .qs-dark-mode-custom-select .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  .qs-dark-mode-custom-select .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  .qs-dark-mode-custom-select .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  .qs-dark-mode-custom-select .select-items {
    position: absolute;
    background-color: #3467ff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .qs-dark-mode-custom-select .select-hide {
    display: none;
  }
  
  .qs-dark-mode-custom-select .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 30px;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none; /* Remove outline */
    opacity: 1;
    border-radius: 30px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #3467ff;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #3467ff;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .qs-dark-mode-checkbox {
  }
  .qs-dark-mode-checkbox .item {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .qs-dark-mode-checkbox .item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .qs-dark-mode-checkbox .item .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .qs-dark-mode-checkbox .item:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .qs-dark-mode-checkbox .item input:checked ~ .checkmark {
    background-color: #3467ff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .qs-dark-mode-checkbox .item .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .qs-dark-mode-checkbox .item input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .qs-dark-mode-checkbox .item .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .qs-dark-mode-radio-button .radio-btn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .qs-dark-mode-radio-button .radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .qs-dark-mode-radio-button .radio-btn .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .qs-dark-mode-radio-button .radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .qs-dark-mode-radio-button .radio-btn input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .qs-dark-mode-radio-button .radio-btn .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .qs-dark-mode-radio-button .radio-btn input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .qs-dark-mode-radio-button .radio-btn .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  .qs-dark-mode-pro {
    position: relative;
  }
  .qs-dark-mode-pro::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #f6f6f600;
    z-index: 9;
    cursor: pointer;
  }
  .qs-dark-mode-pro .qs-dark-mode-pro-item {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  
  .qs-dark-mode-pro .quomodo_sm_switch span {
    background: linear-gradient(103deg, #FF005C 0%, #3366FF 100%);
    color: #ffffff;
    line-height: 40px;
    border-radius: 30px;
    padding: 0 25px;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 1px;
  }
  .qs-dark-mode-pro .qs-dark-mode-range-inner-wrapper .qs-pro {
    background: linear-gradient(103deg, #FF005C 0%, #3366FF 100%);
    color: #ffffff;
    line-height: 40px;
    border-radius: 30px;
    padding: 0 25px;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 1px;
  }
  
  .qs-dark-mode-pro.quomodo_switch_common .quomodo_switch + label {
    border-color: #000000;
  }
  .qs-dark-mode-pro.quomodo_switch_common .quomodo_switch + label::after {
    background: #000000;
  }
  
  .qs-dark-mode-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .qs-dark-mode-modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    width: 32%;
    height: 535px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }
  .qs-dark-mode-modal-body .qs-dark-mode-content {
    height: auto;
    position: relative;
    z-index: 10;
  }
  .qs-dark-mode-modal-body .qs-dark-mode-content .qs-dark-mode-modal-link {
    position: absolute;
    left: 45px;
    bottom: 10px;
    background: #3366FF;
    color: #fff;
    display: inline-block;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .qs-dark-mode-modal-body .qs-dark-mode-content .qs-dark-mode-modal-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 40%;
  }
  
  .qs-dark-mode-modal-body .qs-dark-mode-content .qs-dark-mode-modal-text {
    text-align: left;
    padding: 60px 45px 80px;
  }
  .qs-dark-mode-modal-body .qs-dark-mode-content .qs-dark-mode-modal-text p {
    font-size: 20px;
    color: #2E3A59;
    text-transform: capitalize;
    font-weight: 600;
    font-family: Roboto,sans-serif;
  }
  .qs-dark-mode-modal-body
    .qs-dark-mode-content
    .qs-dark-mode-modal-text
    ul
    li
    a {
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #53607A;
    margin-bottom: 5px;
    padding-left: 16px;
    position: relative;
  }  
  .qs-dark-mode-modal-body .qs-dark-mode-content .qs-dark-mode-modal-text ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    width: 6px;
    background: #4E7AFF;
    border-radius: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    z-index: 99;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {
      bottom: 0px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      bottom: 0px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .qs-dark-mode-nav-wrapper ul li a h3 {
      font-size: 18px;
    }
    .qs-dark-mode-nav-wrapper ul li a i {
      font-size: 50px;
      left: 16px;
    }
    .qs-dark-mode-go-pro-btn a {
      padding: 0 45px;
    }
    .qs-dark-mode-go-pro-btn a h3 {
      font-size: 18px;
    }
    .qs-dark-mode-modal-content {
      width: 50%;
    }
  }
  @media only screen and (max-width: 1400px) {
    .qs-dark-mode-nav-wrapper ul li a span {
      bottom:10px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
  

    .qs-dark-mode-nav-wrapper ul {
      width: 100%;
    }
    .qs-dark-mode-nav-wrapper ul li a h3 {
  
      font-size: 14px;
    }
    .qs-dark-mode-nav-wrapper ul li a span {
      font-size: 10px;
      bottom: 5px;
    }
    .qs-dark-mode-common .quomodo_sm_switch strong {
      font-size: 14px;
    }
    .qs-dark-mode-common .quomodo_sm_switch {
      padding: 20px 10px;
    }
    .qs-dark-mode-nav-wrapper ul li a i {
      font-size: 50px;
      left: 15px;
    }

    .qs-dark-mode-go-pro-btn a h3 {
      font-size: 14px;
    }
    .qs-dark-mode-modal-content {
      width: 60%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .qs-dark-mode-nav-wrapper {
      flex-wrap: wrap;
      flex-flow: column;
      align-items: flex-start;
      margin-top: 20px;
    }
    .qs-dark-mode-nav-wrapper ul {
      width: 100%;
    }
    .qs-dark-mode-nav-wrapper ul li a h3 {
      font-size: 14px;
      margin: 15px 0;
    }
    .qs-dark-mode-nav-wrapper ul li a span {
      display: none;
    }
    .qs-dark-mode-nav-wrapper ul li > a {
      line-height: 30px;
    }
    .qs-dark-mode-admin-dashboard-container {
      margin: 5px 0px;
    }
    .qs-dark-mode-nav-wrapper ul li.ui-tabs-active a::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #3467ff;
    }
    .qs-dark-mode-nav-wrapper ul li a i {
      font-size: 40px;
      left: 14px;
    }
    .qs-dark-mode-go-pro-btn {
      display: none;
    }
    .qs-dark-mode-modal-content {
      width: 60%;
    }
  }
  
  @media (max-width: 767px) {
    .qs-dark-mode-nav-wrapper {
      flex-wrap: wrap;
      flex-flow: column;
      align-items: flex-start;
      margin-top: 20px;
    }
    .qs-dark-mode-nav-wrapper ul {
      width: 100%;
    }
    .qs-dark-mode-nav-wrapper ul li a span {
      display: none;
    }
    .qs-dark-mode-admin-dashboard-container {
      margin: 5px 0px;
    }
    .qs-dark-mode-nav-wrapper ul li.ui-tabs-active a::before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #3467ff;
    }
    .qs-dark-mode-nav-wrapper ul {
      display: block;
    }
    .qs-dark-mode-nav-wrapper ul li {
      display: block;
    }
    .qs-dark-mode-nav-wrapper ul li > a {
      line-height: 15px;
    }
    .qs-dark-mode-nav-wrapper ul li a i {
      font-size: 46px;
    }
    .qs-dark-mode-components-topbar {
      flex-wrap: wrap;
      padding-bottom: 25px;
    }
    .qs-dark-mode-go-pro-btn {
      display: none;
    }
    .qs-dark-mode-modal-content {
      width: 90%;
    }
    .qs-dark-mode-modal-body .qs-dark-mode-content .qs-dark-mode-modal-text {
      padding: 30px 20px 80px;
    }
    .qs-dark-mode-admin-dashboard-container .ui-tabs .ui-tabs-nav li {
      margin-top: 10px;
  }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .qs-dark-mode-modal-content {
      width: 80%;
    }
  }
  .qs-dark-mode-admin-search input[type=search]{
    width: 180px;
    min-height: 48px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 20px;
  }
  .qs-dark-mode-common .quomodo_sm_switch.qs-dark-mode-enable-all-switch {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 13px 30px;
    margin-right: 5px;
    margin-top: 0;
    width: 200px;
    
  }
  .qs-dark-mode-savechanges {
    display: inline-flex;
    align-self: center;
    width: 50%;
    justify-content: flex-end;
  }
  .qs-dark-mode-admin-search {
    margin-right: 4px;
  }
  
  /* header-footer */
  .qs-dark-mode-header-footer{
    width: 50%;
  }
  #quomodo-components-all-disable{
    background: #3467ff;
    cursor: pointer;
  }
  #quomodo-components-all-disable strong{
    color:#fff;
    cursor: pointer;
  }
  
  @media (max-width: 1200px) {
    .qs-dark-mode-components-topbar {
      display: block;
    }
  
    .qs-dark-mode-savechanges {
        width: 100%;
        display: flex;
    }
    .qs-dark-mode-savechanges > div {
        flex: 1 !important;
    }
    .qs-dark-mode-admin-search input[type=search] {
        width: 100%;
    }
  
    .qs-dark-mode-components-topbar > div {
        flex: 1;
        clear: both;
        margin-bottom: 10px;
    }
  
  }
  
  
  
  
  /*header-footer end */
  
  /* Pro Connect */
  
  .qs-dark-mode-pro-connect {
    margin: 12px 0;
    padding: 15px 15px 0 15px;
    border: 1px solid #e1e1e1;
  }
  
  .qs-dark-mode-pro-connect .quomodo-row{
    border-bottom: 1px solid #e1e1e1;
    padding: 3px 0;
  }
  
  .qs-dark-mode-pro-connect .quomodo-row:last-child{
   border: none;
   padding-bottom: 0;
  }
  
  .qs-dark-mode-pro-connect .quomodo-row .qs-dark-mode-col.right{
    text-align: right;
  }
  
  .qs-dark-mode-pro-connect .quomodo-row .qs-dark-mode-col.left{
    text-align: left;
  }
  
  .qs-dark-mode-pro-connect .quomodo-row .qs-dark-mode-col .secondary{
      background: #3467ff;
      color: #ffffff;
      font-size: 14px;
      border: none;
    
  }
  
  .qs-dark-mode-pro-connect .quomodo-row .qs-dark-mode-col .primary{
    background: #011652;
    color: #ffffff;
    font-size: 14px;
    border: none;
  
  }
  
  .qs-dark-mode-pro-connect .quomodo-row .qs-dark-mode-col .danger{
    background: #c81a03e1;
    color: #ffffff;
    font-size: 14px;
    border: none;
  
  }
  
  .quomodo_switch_common .quomodo_switch + label:before{
    background: #fff;
  }
  
  .qs-dark-mode-custom-select2 .select2-container{
    width: 250px ;
  }
  
  .qs-dark-mode-custom-select2 .select2-container .select2-selection--single .select2-selection__rendered{
    min-width: 150px;
  }
  
  .toplevel_page_element_ready_elements_dashboard_page #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu{
  
    background: #ffffff;
    color: #151111;
    font-weight: 400;
  
  }
  

  
/*-----------------------------------input switch style--------------------------------*/
.quomodo_switch_common>li{
  margin-right: 30px;
  vertical-align: middle;
}
.quomodo_switch_common>li:last-child{
  margin-right: 0px;
}
.quomodo_switch_common .quomodo_switch {
  visibility: hidden;
  margin-left: -9999px;
  position: absolute;
}
.quomodo_switch_common label{
  margin-bottom: 0;
}
.quomodo_switch_common .quomodo_switch + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 80px;
  border: 2px solid #3467ff;
  user-select: none;
  float: right;
}
.quomodo_switch_common .quomodo_switch + label:before {
  right: 0px;
  background: #F1F1F1;
  border-radius: 75px;
}
.quomodo_switch_common .quomodo_switch + label:after {
  background-color: #3467ff;
  border-radius: 100%;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}
.quomodo_switch_common .quomodo_switch + label:before,
.quomodo_switch_common .quomodo_switch + label:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.quomodo_switch_common .quomodo_switch:checked + label:before {
  background-color: #3467ff;
  width: 105%;
  left: -1px;
}
.quomodo_switch_common .quomodo_switch:checked + label {
  border-color: #3467ff;
}
.quomodo_sm_switch .quomodo_switch + label {
  height: 28px;
  width: 75px;
}
.quomodo_sm_switch .quomodo_switch + label:after {
  width: 24px;
  height: 24px;
  top: 3px;
  left: 3px;
}

.quomodo_switch_common .quomodo_switch:checked + label:before {
  background-color: #3467ff;
  width: 105%;
  left: -1px;
}

.quomodo_switch_common .quomodo_switch + label:before {
  background: #fff;
}

.quomodo_sm_switch .quomodo_switch:checked + label:after {
  margin-left: 46px;
  top: 2px;
  background: #fff;
}

.quomodo_sm_switch .quomodo_switch + label:after {
  width: 24px;
  height: 24px;
  top: 2px;
  left: 3px;
}

.qs-dark-mode-block-image-wrapper-list{
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
.qs-dark-mode-img-block-wrapper {

  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 4px;
}



/*pure cosmetics:*/

.qs-dark-mode-img-block-wrapper input + label{
  border: 1px solid #fff;
  padding: 5px 5px 5px 5px;
  display: block;
}
.qs-dark-mode-img-block-wrapper input:checked + label {
  border: 1px solid #3366FF;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  display: block;
}

.qs-dark-mode-img-choose img {
  max-width: 240px;
  display: block;
  

}
.qs-dark-mode-img-block-wrapper input {
  visibility: hidden;
  position: absolute;

}
.qs-dark-mode-img-choose label {
  margin: 0px 0px 0 0;
}

.qs-dark-mode-option-header{
  margin:20px 0;
}

textarea.qs-dark-mode-textarea-option {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #d5dcf5;
}

.qs-dark-mode-select-list-inner-wrapper .select2.select2-container{
  width: 100% !important;
}

.qs-dark-mode-select-list-inner-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: #fff;
}
.qs-dark-mode-select-list-inner-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #3467ff !important;
  border: 1px solid #3467ff !important;
}
.qs-dark-mode-select-list-inner-wrapper .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
  color: #fff;
}
.quomodo_sm_switch input[type=checkbox]:disabled{
  display: none;
}
.qs-dark-mode-shortcode-area{
  margin: 40px 0 20PX;
  display: flex;
}
.qs-dark-mode-shortcode-area input{
    width: 440px;
    font-size: 14px;
    padding: 17px 20px;
    border: 0;
    border-right: 0;
    box-shadow: 4px 4px 8px rgba(46, 58, 89, 0.02);
    border-radius: 5px 0 0 5px;
    border: 1px solid #00000029;
}




.qs-dark-mode-shortcode-area input[type=text]:focus{
  border-color: #3467ff;
  box-shadow: 0 0 0 1px #3467ff;
  outline: 0px solid transparent;
  border: 0;
}
.qs-dark-mode-shortcode-area .qs-shortcode-copy-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  background: #3467ff;
  padding: 0px 38px;
  border-radius: 0px 5px 5px 0;
  font-size: 20px;
  color: #fff;
}
.qs-shortcode-copy-button:focus,input.qs-dark-mode-image-upload {
 border: 0;
}


input.qs-dark-mode-image-upload {
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
  width: 50%;
}
.qs-dark-mode-text-inner-wrapper input{
  padding: 5px 10px;
  border: 1px solid #e1e1e1;
}
.qs-dark-mode-option-header.qs-dark-mode-text-option-container-switch_heading {
  background: linear-gradient(103deg, #FF005C 0%, #3366FF 100%);
  padding: 2px 19px;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 50px;
}
.qs-dark-mode-option-header.qs-dark-mode-text-option-container-switch_heading .qs-dark-mode-option-heading{
  color: #fff;
  font-size: 20px; 
}
.qs-dark-mode-text-inner-wrapper input[type=color]{
  padding: 0;
}

.qs-dark-mode-select-image-inner-wrapper img{
  width: auto;
  max-width: 200px;
  max-height: 200px;
  display: block;
  padding: 12px 0;
}
.qs-dark-mode-select-image-inner-wrapper .qs-img-hide[src=""]{
  display: none;
}


/* custom color */

/* dark mood dashboard css here */

.qs-dark-mode-components{
  background-image: url(../img/dashboard/dark-generel-bg-.svg);
  background-position: 83% 70%;
  background-size: 29%;
  background-repeat: no-repeat;
}

.qs-dark-mode-switch-wrapper{
  display: flex;
  align-items: center;
}

.qs-dark-mode-switch-wrapper .qs-dark-mode-option-header .qs-dark-mode-option-heading {
  color: #2E3A59;
  font-size: 20px;
}
.qs-dark-mode-switch-wrapper .qs-dark-mode-select-list-wrapper{
  margin-left: 0px;
  border: 1px solid #00000029;
}

.qs-dark-mode-switch-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-dropdown{
  border-radius: 4px;
  background: #fff;
  padding: 0 20px;
  line-height: 40px;
  border: 0;
  color: #53607A;
  position: relative;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.03);
}


.qs-dark-mode-switch-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-list-inner-wrapper{
  position: relative;
}


.qs-dark-mode-switch-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-list-inner-wrapper::before{
  position: absolute;
  content: '';
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/dashboard/angle-down-dark.svg);
  height: 10px;
  width: 10px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99;
}

.qs-dark-mode-switch-wrapper .qs-dark-mode-block-image-wrapper-list{
  background: #fff;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.03);
  display: flex;
  align-items: center;
  border-radius: 4px;
  flex-wrap: wrap;
  border: 1px solid #00000029;
  padding: 20px;
}

.qs-dark-mode-switch-wrapper .qs-dark-mode-option-header{
  margin-right: 15px;
  max-width: 160px;
  min-width: 160px;
}
.qs-dark-mode-switch-wrapper .qs-dark-mode-block-image-wrapper-list .qs-dark-mode-img-block-wrapper{
  display: flex;
  align-items: center;
}

.qs-dark-mode-switch-wrapper .qs-dark-mode-select-image-wrapper{
  position: relative;
}
.qs-dark-mode-switch-wrapper .qs-dark-mode-select-image-wrapper input[type="text"]{
  width: 730px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.03);
  height: 65px;
  border: 1px solid #00000029;

}
.qs-dark-mode-switch-wrapper .qs-dark-mode-select-image-wrapper span{
  display: none;
}
.qs-dark-mode-switch-wrapper .qs-dark-mode-select-image-wrapper span.qs-pro{
  background: linear-gradient(103deg, #FF005C 0%, #3366FF 100%);
  color: #ffffff;
  line-height: 40px;
  border-radius: 30px;
  padding: 0 25px;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  margin-left: 0px;
  letter-spacing: 1px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.qs-dark-mode-switch-wrapper .qs-dark-mode-text-inner-wrapper input[type="number"],
.qs-dark-mode-switch-wrapper .qs-dark-mode-text-inner-wrapper input[type="text"]{
  width: 470px;
  height: 65px;
  border: 0;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.03);
  border-radius: 4px;
  border: 1px solid #00000029;
}


.qs-dark-mood-custom-style-btn .quomodo_sm_switch {
  padding: 0;
  background: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  border: 0;
}

.qs-dark-mood-custom-style-btn .quomodo_sm_switch .qs-dark-mood-custom-style-wrapper {
  margin-left: 20px;  
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.03);
  border-radius: 4px;
  min-width: 430px;
  max-width: 430px;
  border: 1px solid #00000029;
}
.qs-dark-mood-custom-style-btn .quomodo_sm_switch .qs-dark-mood-custom-style-wrapper span{
  float: left;
  margin-left: 0;
}
.qs-dark-mood-custom-style-btn .quomodo_sm_switch .qs-dark-mood-custom-style-wrapper label{
  float: right;
  margin-top: 5px;
}




.qs-dark-mode-switch-wrapper .qs-dark-mode-text-wrapper .qs-dark-mode-text-inner-wrapper {
  position: relative;
}
.qs-dark-mode-switch-wrapper .qs-dark-mode-text-wrapper .qs-dark-mode-text-inner-wrapper p{
  position: absolute;
  top: 100%;
  margin-top: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
}
.qs-dark-mode-switch-wrapper .qs-dark-mode-text-wrapper .qs-dark-mode-text-inner-wrapper:focus p,
.qs-dark-mode-switch-wrapper .qs-dark-mode-text-wrapper .qs-dark-mode-text-inner-wrapper:hover p{
  opacity: 1;
  visibility: visible;
}







.qs-control-container-theme_color_preset .qs-dark-mode-block-image-wrapper-list .qs-dark-mode-img-block-wrapper #theme_color_preset_style1{
  margin-bottom: -10px;
  display: block;
}


.qs-dark-mode-preset-wrapper{
  display: flex;
  align-items: center;
  background: #fff;
  margin-top: 20px;
  width: 510px;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.03);
  border-radius: 4px;
  padding-left: 20px;
  border: 1px solid #00000029;
}

.qs-dark-mode-option-header h3{
  font-size: 20px;
  font-weight: 500;
  color: #2E3A59;
}

.qs-dark-mode-preset-wrapper .qs-dark-mode-option-header{
  max-width: 190px;
  min-width: 190px;
}



.qs-dark-mode-preset-wrapper .qs-dark-mode-color-wrapper .qs-dark-mode-color-inner-wrapper .wp-picker-container button span{
  background: #FBFBFB;
  color: #53607A;
}



.qs-dark-mode-elements-wrapper{
  background: #fff;
  padding: 10px 35px 35px;
  margin-top: 40px;
  box-shadow: 4px 4px 8px rgba(46, 58, 89, 0.02);
  border-radius: 4px;
  margin-bottom: 30px;
  border: 1px solid #00000029;
}

.qs-dark-mode-elements-wrapper .qs-dark-mode-textarea-wrapper textarea,
.qs-dark-mode-advanced-option-container-include_custom_element textarea.qs-dark-mode-textarea-option{
  background: #2E3A59;
  border-color: #2E3A59;
  border-radius: 6px;
  color: #fff;
  resize: none;
}

.qs-dark-mode-advanced-option-container-override_exclude_page_ids input {
  width: 90%;
}


.qs-dark-mode-custom-css-wrapper{
  display: flex;
  width: 95%;
  align-items: center;
  background: #fff;
  padding: 0px 40px;
  margin-top: 10px;
  box-shadow: 4px 4px 8px rgba(46, 58, 89, 0.02);
  border-radius: 4px;
  border: 1px solid #00000029;
}

.qs-dark-mode-custom-css-wrapper .qs-dark-mode-option-header{
  max-width: 190px;
  min-width: 190px;
}

.qs-dark-mode-custom-css-wrapper .qs-dark-mode-select-list-wrapper{
  width: 100%;
}
.qs-dark-mode-custom-css-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-list-inner-wrapper {
  width: 100%;
  position: relative;
}


.qs-dark-mode-custom-css-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-list-inner-wrapper.qs-pro span.pro-css{
  background: linear-gradient(103deg, #FF005C 0%, #3366FF 100%);
  color: #ffffff;
  line-height: 40px;
  border-radius: 30px;
  padding: 0 25px;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  margin-left: 0px;
  letter-spacing: 1px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.qs-dark-mode-custom-css-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-list-inner-wrapper span.select2 .select2-selection{
 background: #fff;
 height: 65px;
 border: 1px solid #00000029;
}
.qs-dark-mode-custom-css-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-list-inner-wrapper.qs-pro span.select2 .select2-selection{
  border-color: #fff;
}


.qs-dark-mode-select-elements-wrapper{
  display: flex;
  align-items: center;

}

.qs-dark-mode-select-elements-wrapper .qs-dark-mode-option-header{
  margin-right: 20px;
}


.qs-dark-mode-select-elements-wrapper .qs-dark-mode-select-list-wrapper  .qs-dark-mode-select-list-inner-wrapper{
  position: relative;
}
.qs-dark-mode-select-elements-wrapper .qs-dark-mode-select-list-wrapper  .qs-dark-mode-select-list-inner-wrapper  .qs-dark-mode-select-dropdown{
  border-radius: 4px;
  background: #fff;
  padding: 0 20px;
  line-height: 40px;
  border: 0;
  color: #53607A;
  position: relative;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.02);
  border: 1px solid #00000029;
}


.qs-dark-mode-select-elements-wrapper .qs-dark-mode-select-list-wrapper  .qs-dark-mode-select-list-inner-wrapper::before{
  position: absolute;
  content: '';
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/dashboard/angle-down-dark.svg);
  height: 10px;
  width: 10px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 99;
}

.qs-dark-mode-switch-color-wrapper{
  display: flex;
  align-items: center;
  background: #fff;
  margin-top: 20px;
  width: 630px;
  box-shadow: 0px 4px 8px rgba(46, 58, 89, 0.03);
  border-radius: 4px;
  padding-left: 40px;
}

.qs-dark-mode-switch-color-wrapper .qs-dark-mode-text-wrapper{
  margin-left: 20px;
}

.qs-dark-mode-switch-color-wrapper .qs-dark-mode-text-wrapper .qs-dark-mode-text-inner-wrapper .wp-color-result-text{
  background: #FBFBFB;
}
.qs-root-active .qs-dark-mode-modal-body {
  border: 1px solid #fff;
}
.qs-root-active .qs-dark-mode-modal-body .close{
  color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
  opacity: 0;
  visibility: hidden;
}

.qs-dark-mode-custom-element-container-exclude_default_background_elements .select2-container--default .select2-selection--multiple .select2-selection__rendered{
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .qs-dark-mode-nav-wrapper ul li{
    margin: 0;
  }
  .qs-dark-mode-nav-wrapper ul li > a{
    margin: 0 20px 15px;
  }
  .qs-dark-mode-nav-wrapper ul li > a{
    padding: 15px 5px 5px 75px;
  }
  .qs-dark-mode-switch-wrapper .qs-dark-mode-select-image-wrapper input[type="text"]{
    width: 555px;
  }
  .qs-dark-mode-custom-css-wrapper{
    width: 88%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .qs-dark-mode-nav-wrapper ul li a h3{
    margin: 2px 0 15px;
    font-size: 12px;
  }
  .qs-dark-mode-nav-wrapper ul li{
    margin: 0;
  }
  .qs-dark-mode-nav-wrapper ul li > a{
    margin: 0 3px;
  }
  .qs-dark-mode-nav-wrapper ul li > a{
    padding: 15px 5px 5px 50px;
  }
  .qs-dark-mode-switch-wrapper .qs-dark-mode-select-image-wrapper input[type="text"]{
    width: 510px;
  }
  .qs-dark-mode-custom-css-wrapper{
    width: 88%;
  }
}

@media only screen and (max-width: 767px) {
  .qs-dark-mode-nav-wrapper ul li a h3{
      margin: 0 0 15px;
  }
  .qs-dark-mode-nav-wrapper ul li{
    margin-bottom: 10px;
  }
  .qs-dark-mode-switch-wrapper{
    flex-wrap: wrap;
  }
  .qs-dark-mood-custom-style-btn .quomodo_sm_switch{
    flex-wrap: wrap;
  }
  .qs-dark-mood-custom-style-btn .quomodo_sm_switch .qs-dark-mood-custom-style-wrapper{
    margin-left: 0;
    margin-top: 20px;
  }
  .qs-dark-mode-common .quomodo_sm_switch{
    padding-left: 0 !important;
  }
  .qs-dark-mode-switch-color-wrapper{
    width: 92%;
  }
  .qs-dark-mode-switch-wrapper .qs-dark-mode-select-image-wrapper input[type="text"]{
    width: 100%;
  }
  .qs-dark-mode-option-header.qs-dark-mode-text-option-container-switch_heading .qs-dark-mode-option-heading{
    margin: 0 0;
    line-height: 40px;
  }
  .qs-dark-mode-preset-wrapper{
    width: 92%;
  }
  .qs-dark-mode-custom-css-wrapper{
    width: 88%;
  }
}


@media only screen and (max-width: 576px){
  .qs-dark-mode-common .quomodo_sm_switch{
    padding: 20px;
  }
  .qs-dark-mode-common .quomodo_sm_switch strong{
    font-size: 15px;
  }
  .qs-dark-mode-adpage-tab-content{
    padding: 30px 15px;
  }
  .qs-dark-mode-shortcode-area{
    flex-wrap: wrap;
  }
  .qs-dark-mode-shortcode-area .qs-shortcode-copy-button{
    line-height: 40px;
    border-radius: 0;
    margin-top: 10px;
  }
  .qs-dark-mode-dashboard-topbar .qs-dark-mode-title .title, .qs-dark-mode-components-topbar .qs-dark-mode-title .title{
    font-size: 16px;
  }
  .qs-dark-mode-switch-wrapper .qs-dark-mode-text-inner-wrapper input[type="number"], .qs-dark-mode-switch-wrapper .qs-dark-mode-text-inner-wrapper input[type="text"]{
    width: 100%;
  }
  .qs-dark-mood-custom-style-btn .quomodo_sm_switch .qs-dark-mood-custom-style-wrapper{
    min-width: 215px;
    max-width: 215px;
  }
  .qs-dark-mode-switch-color-wrapper{
    display: block;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .qs-dark-mode-option-header h3{
    font-size: 16px;
  }
  .qs-dark-mode-switch-color-wrapper .qs-dark-mode-text-wrapper{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .qs-dark-mode-option-header{
    margin: 0px 0 0;
  }
  .qs-dark-mode-switch-wrapper .qs-dark-mode-option-header .qs-dark-mode-option-heading{
    font-size: 16px;
  }
  .qs-dark-mode-preset-wrapper{
    display: block;
    padding: 7px 0px 20px 20px;
  }
  .qs-dark-mode-custom-css-wrapper{
    width: 70%;
  }
  .qs-dark-mode-custom-css-wrapper .qs-dark-mode-select-list-wrapper .qs-dark-mode-select-list-inner-wrapper.qs-pro span.pro-css{
    left: -70px;
  }
}

.qs-dark-mode-advanced-option-container-switch_show_in .select2-container .select2-selection--multiple .select2-selection__rendered, .qs-dark-mode-custom-css .qs-dark-mode-custom-css-wrapper .select2-container .select2-selection--multiple .select2-selection__rendered, .qs-dark-mode-advanced-option-container-exclude_pages .select2-container--default .select2-selection--multiple .select2-selection__rendered{
	opacity: 1;
	visibility: visible;
}

.qs-dark-mode-select-image-inner-wrapper img {
  padding: 12px !important;
   background: #3366ff46 !important;
   margin-bottom: 10px;
}

.qs-dark-mode-images-repeater {
  width: 100%;
  display: block;
}

.qs-dark-mode-images-repeater input {
  width: 90%;
  font-size: 14px;
  padding: 17px 20px;
  border: 0;
  border-right: 0;
  box-shadow: 4px 4px 8px rgb(46 58 89 / 2%);
  border-radius: 5px 0 0 5px;
  border: 1px solid #00000029;
}
.qs-dark-mode-images-repeater input,
.qs-gc-button,
.qs-dark-mode-images-repeater .qs-swap-image-repeater{
  margin-top: 20px;
}
.qs-dark-mode-images-repeater label{
  font-size: 22px;
  font-weight: 500;
}
.qs-gc-button{
  background: #3467ff;
  line-height: 45px;
  padding: 1px 25px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: 0;
  height: auto;
  text-decoration: none;
}
.qs-gc-button:hover,
.qs-gc-button:active,
.qs-gc-button:focus{
    color:#ffffff;
}

.qs-dark-mode-advanced-settings .qs-dark-mode-pro .quomodo_sm_switch span{

  position: absolute;
  left: -20px;
  top: -20px;

}

.qs-swap-image-repeater .qs-normal-img-src{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.qs-swap-image-repeater .qs-normal-img-src .qs-dark-mode-img-src-remove{
  padding-right: 10px;
  text-decoration: none;
  color:#3366ff;
}


.qs-dark-mode-textarea-wrapper p,
.qs-dark-mode-preset-style  p{
  font-size: 16px;
  margin-bottom: 25px;
}


#qs-dark-mode-adpage-tabs-5 .qs-dark-mode-preset-style{
  background-image: url(../img/dark-preset.svg);
  background-position: 91% 68%;
  background-size: 30%;
  background-repeat: no-repeat;
}



div#qs-dark-mode-adpage-tabs{
  display: flex;
}




@media only screen and (min-width: 960px) and (max-width: 1600px) {
  .qs-dark-mode-common .quomodo_sm_switch{
    padding: 30px 20px 75px;
    text-align: center;
    
  }
  .quomodo_switch_common .quomodo_switch + label{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
  }

  #qs-dark-mode-adpage-tabs-4 .qs-dark-mood-custom-style-btn .quomodo_sm_switch .qs-dark-mood-custom-style-wrapper label{
    position: static;
  }
  .qs-dark-mode-custom-css-wrapper{
    width: 88%;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .qs-dark-mode-img-block-wrapper{
    margin-right: 14px;
  }
}
.qs-dark-mode-option-header.qs-dark-mode-text-option-container-frontend_keyboard_shortcut {

  background: #3467ff;
  text-align: right;
  padding-right: 10px;
}
.qs-dark-mode-switch-wrapper .qs-dark-mode-text-option-container-frontend_keyboard_shortcut .qs-dark-mode-option-heading{
  color: #fff;
  padding-left: 20px;
}